:root {
	--main-bg-image-top: #6ebedf;
	--main-bg-image-bot: #2751af;
	--main-base-bg-color: #8e24aa;
	--main-base-bg-image: #0d47a1;
	--main-tab-color: #aad6be;
	--main-tab-bg-color: #1D4187;
	--main-tab-boarder: #ccc;
	--main-header-color: black;
	--main-header-shadow-color: white;
	--main-inner-button: #e969ff;
	--main-inner-bg-text: black;
	--main-inner-text: darkorange;
}

::placeholder {
	color:var(--main-inner-text);
}

header {
    display: grid;
    grid-template-columns: 8% 84% 8%;
}

#myImgR { 
	transform-origin:50% 50%;
	animation:3s rotateLeft 3s forwards; 
	animation-iteration-count: 3;
}

#myImgL { 
	transform-origin:50% 50%;
	animation:3s rotateRight 12s forwards;
	animation-iteration-count: 3;	
}

@keyframes rotateLeft{
	100%{ transform:rotate(-360deg); }
}

@keyframes rotateRight{
	100%{ transform:rotate(360deg); }
}

header h1 {
	margin: 2% 0 3% 0;
	font-weight: bold;
	font-family: 'Ultra', sans-serif;   
	font-size: 450%;
	text-transform: uppercase;
	text-shadow: 0 2px var(--main-header-shadow-color), 0 3px;
}

header h2 {
	margin: 2% 0 2% 0;
	font-weight: bold;
	font-size: 150%;
	font-family: 'Orienta', sans-serif;
}

body {font-family: Arial;}

/* Style the tab */
.tab {
	color: var(--main-tab-color);
	background-color: var(--main-tab-bg-color);
	overflow: hidden;
	border: 1px solid var(--main-tab-boarder);
}

/* Style the buttons inside the tab */
.tab button {
	color: var(--main-tab-color);
	background-color: var(--main-tab-bg-color);
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	color: var(--main-tab-bg-color);
	background-color: var(--main-tab-color);;
}

/* Create an active/current tablink class */
.tab button.active {
	color: var(--main-header-color);
	background-color: var(--main-header-shadow-color);
}

/* Style the tab content */
.tabcontent {
	background-image: linear-gradient(var(--main-base-bg-color), var(--main-base-bg-image));
	color: var(--main-header-shadow-color);
	font-weight: 700;
	display: none;
	padding: 6px 12px;
	border: 1px solid var(--main-tab-boarder);
	border-top: none;
}

.tabcontent button {
	color: var(--main-header-color);
	background-color: var(--main-inner-button);
	font-weight: bold;
}

.tabcontent .collapsible{
	background-image: linear-gradient(var(--main-bg-image-top), var(--main-bg-image-bot));
}

.left{display:inline-block; float:left; width: 10%; height: 100px; padding: 5px;}
.right{display:inline-block; float:right; width: 10%; height: 100px; padding: 5px;}
.center{display:inline-block; float:center; width: 60%; height: 100px; padding: 5px;}
.center button {
	border-radius: 4px;
	background-color: #1D4187 !important;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	padding: 20px 1px;
	width: 165px;
	max-height: 60px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 2px;
}

.center button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.center button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.center button:hover span {
	padding-right: 30px;
}

.center button:hover span:after {
	opacity: 1;
	right: 0;
}

textarea {
    color: var(--main-inner-text);
    background: var(--main-inner-bg-text);;
    border-radius: 8px;
}

.Form {
	width: 250px;
	clear: both;
	}

.Form input[type="text"]{
	width: 100%;
	clear: both;
    color: var(--main-inner-text);
    background: var(--main-inner-bg-text);;
    border-radius: 3px;
}

.Form input[type="password"]{
	width: 100%;
	clear: both;
    color: var(--main-inner-text);
    background: var(--main-inner-bg-text);;
    border-radius: 3px;
}

.Form input[type="submit"] {
	background-color: #18FFFF;
	font-weight: bold;
	font-family: Comic;
}

.tabcontent input[type="text"], input[type="password"], input[type="number"] {
    color: var(--main-inner-text);
	background: var(--main-inner-bg-text);
	border-radius: 3px;
}

.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	margin-bottom: 15px;
}

.success {
    color: #ebebeb;
    background-color: #4CAF50;
    border-color: #d6e9c6;
    display: none;
	height: 20px;
	width: 15%;
	float: right;
	font-size: 120%;
	text-align: center;
	padding: 1% 1px;
	margin: 2px;
}

.failure {
    color: #ebebeb;
    background-color: #f44336;
    border-color: #ebccd1;
    display: none;
	height: 20px;
	width: 15%;
	float: right;
	font-size: 120%;
	text-align: center;
	padding: 1% 1px;
	margin: 2px;
}

.warning {
    color: #ebebeb;
    background-color: #ff9800;
    border-color: #faebcc;
    display: none;
	height: 20px;
	width: 30%;
	float: right;
	font-size: 120%;
	text-align: center;
	padding: 1% 1px;
	margin: 2px;
}

.successL {
    color: #ebebeb;
    background-color: #4CAF50;
    border-color: #d6e9c6;
    display: none;
	height: 20px;
	width: 15%;
	float: right;
	font-size: 120%;
	text-align: center;
	padding: 1% 1px;
	margin: 2px;
}

.failureL {
    color: #ebebeb;
    background-color: #f44336;
    border-color: #ebccd1;
    display: none;
	height: 20px;
	width: 15%;
	float: right;
	font-size: 120%;
	text-align: center;
	padding: 1% 1px;
	margin: 2px;
}

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active.collapsible:hover {
	background-color: #aad6be;
}

.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.collapsible.active:after {
	content: "\2212";
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-image: linear-gradient(var(--main-bg-image-top), var(--main-bg-image-bot));
}

#HackerStyle {
	background-color: var(--main-base-bg-color);
	background-image: var(--main-base-bg-image);
}

/* Buttons hover */
.newHover button {
	display: inline-block;
	border-radius: 4px;
	border: none;
	text-align: center;
	font-size: 100%;
	padding: 20px 1px;
	width: 20%;
	max-width: 220px;
	max-height: 60px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 2px;
}

.newHover button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.newHover button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.newHover button:hover span {
	padding-right: 30px;
}

.newHover button:hover span:after {
	opacity: 1;
	right: 0;
}

/* Form buttons hover */
.newHover input[type='submit'] {
	display: inline-block;
	border-radius: 4px;
	border: none;
	text-align: center;
	font-size: 110%;
	padding: 4% 1px;
	width: 30%;
	max-height: 60px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 2px;
}

.newHover input[type='submit'] span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.newHover input[type='submit'] span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.newHover input[type='submit']:hover span {
	padding-right: 30px;
}

.newHover input[type='submit']:hover span:after {
	opacity: 1;
	right: 0;
}
